@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat+Alternates:wght@300&display=swap");
/* font-family: "Inter", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;*/

:root {
  --dark-blue: #155263;
  --light-blue: #25aacf;
  --dark-orange: #ff6f3c;
  --orange: #ff9a3c;
  --yellow: #ffc93c;
  --white: #ffffff;

  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.navbar {
  background-color: var(--light-blue) !important;
}

button {
  background-color: var(--light-blue) !important;
}

.footer {
  background-color: var(--dark-blue) !important;
}

.card {
  background-color: var(--light-blue) !important;
}
